:root {
	--goldenyellow: #fedb8b;
	--white: #fff;
	--slate: #262727;
	--grey-blue: #73849a;
	--light-grey: #f0f0f0;
	--light-blue: #8bb8df;
	--light-blue-contrast: #b6dcfb;
	--dark-blue: #2b2f33;
	--dark-pink: #99003b;
	--dark-green: #2d494e;
	--light-green: #25b182;

	--button-shadow: 0 8px 16px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .08);
	--button-shadow-hover: 0 4px 6px rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .08);
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

	--body-bg-color: var(--slate);
	--item-bg-color: var(--dark-blue);
	--h1-text-size: clamp(1.4rem, 3vw, 3rem);
	--h2-text-size: clamp(1.2rem, calc(0.5rem + 2vw), 2.4rem);
	--h3-text-size: clamp(1rem, calc(0.5rem + 1.5vw), 2.2rem);
	--p-text-size: clamp(1rem, 0.5rem + 1vw, 1.8rem);
	--code-text-size: clamp(1rem, 0.5rem + 1vw, 1.6rem);
	--desc-text-size: clamp(0.8rem, 0.5rem + 1vw, 1.4rem);
}

* {
	box-sizing: border-box;
}


html,
body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	width: 100%;
	min-height: 100%;
	line-height: 1.4;
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	scroll-padding-top: 80px;
}

html {
	background-image: linear-gradient(315deg, #5F3D90, #292F49);
}

h1 {
	font-size: var(--h1-text-size);
}

h2 {
	font-size: var(--h2-text-size);
}

h3 {
	font-size: var(--h3-text-size);
}

time,
a,
p,
li,
pre {
	font-size: var(--p-text-size);
	line-height: 1.6;
}

p,
li {
	line-height: 2;
}

a {
	outline: none;
	outline-offset: 0;
	padding: 0px 2px;
	margin: 0;
	border-bottom: 2px solid currentColor;
	color: var(--goldenyellow);
	font-weight: 600;
	text-decoration: none;
}

a:visited {
	color: var(--goldenyellow);
}

a:hover,
a:focus {
	outline-offset: 0;
	outline: double 5px #e4b067;
	color: #1f190a;
	background-color: #e4b067;
	border-bottom-color: transparent;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper {
	background: var(--slate);
	padding: 1vw 3vw 3vw 3vw;
	border-radius: 12px;
	max-width: calc(100ch + 15vw);
	margin-left: auto;
	margin-right: auto;
}

@media(max-width: 1350px) {
	.wrapper {
		margin: 0 10vw;
	}
}

@media(max-width: 600px) {
	.wrapper {
		margin: 0 1rem;
	}
}

.title {
	display: flex;
	margin: 0;
	font-size: var(--h2-text-size);
	letter-spacing: -0.04em;
	padding: 0;
	text-align: center;
	color: var(--light-blue);
}

.title span {
	padding-right: 6px;
}

::selection {
	color: black;
	background: var(--light-blue);
}

::-moz-selection {
	color: black;
	background: var(--light-blue);
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}