---
import { SITE_TITLE } from "../consts";
import NavEmoji from "./NavEmoji.svelte";
import HeaderLink from "./HeaderLink.astro";
---

<style>
	.home-wrapper {
		@media (min-width: 600px) {
			display: flex;
			align-items: center;
		}
	}

	.title {
		font-size: var(--h1-text-size);
		letter-spacing: -0.01em;
		font-weight: 500;
		color: var(--light-grey);
		margin-bottom: 0;
		@media (min-width: 600px) {
			margin: 0 2rem;
			padding: 0;
			font-size: clamp(2rem, 3vw, 3rem);
		}
	}
</style>

<header>
	<nav>
		<h2 class="home-wrapper title">
			<span>{SITE_TITLE}</span>
			<NavEmoji client:load />
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<!-- <HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink> -->
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 110px;
	}
	nav a {
		padding: 5px;
		margin: 0 2rem;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
